body{
    padding: 0;
    margin: 0;
}

.red{
    border: 1px solid red;
}

.border-circle{
    border: 3px solid green;
    border-radius: 20px;
}

.banner{
    padding: 20px;
    height: 100%;
    background: url(./banner.jpg) center center no-repeat;
}

.abt-login{
    text-align: right;
    padding: 5px 15px;
    text-transform: uppercase;
    height: 80px;
    width: 100%;
}

.abt,.login{
    text-decoration: none;
    padding: 5px;
}
.abt {
    margin-right: 20
px
;
}
a.login.border-circle {
    margin-right: 70px;
}

.logo{
    margin-top: 40px;
    height: 100px;
    background: url(./hapoERP.png) center center no-repeat;
}

.text,.btn-start{
    text-align: center;
}

.text{
    margin-top: 20px;
    color: #283238;
    font-family: Roboto;
    font-style: italic;
    letter-spacing: -0.02px;
}

.btn-start{
    margin-top: 20px;
    text-align: center;
}

button {
    border-radius: 100px;
    background: linear-gradient(
311.12deg
, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-family: Roboto;
    color: #FFFFFF;
    letter-spacing: 1.33px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    height: 40
px
;
    width: 144
px
;
}

.icon {
    display: flex;
}

.left,.center,.right {

    width: calc(100%/3);
    text-align: center;
}

span{
    display: block;
}

img{
    width: 30px;
    height: 30px;
}


